body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

/* HEADER */

.header-hero {
    background-color: #1F2937;
}

.header {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    height: 50px;
    padding: 16px;
    justify-content: space-between;
}

.left-links {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.right-links {
    justify-content: right;
}

.left-links > a {
    color: #E5E7EB;
    gap: 50px;
    text-decoration: none;
}

.right-links > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

li > a {
    color: lightgray;
    text-decoration: none;
    font-size: 18px;
}

/* HERO */

.hero-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding: 75px 150px;
}

.hero-text-button {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 10px;
}   

.hero-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-body {
    color: lightgray;
    font-size: 18px;
}

.hero-img {
    width: 500px;
    height: 200px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: gray;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero-button {
    width: 150px;
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
    font-size: medium;
    color: white;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 8px;
}

/* INFO */

.info {
    background-color: white;
    padding-bottom: 100px;
}

.info-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: bolder;
}

.info-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.info-box {
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
    height: 150px;
    width: 150px;
}

.info-text {
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 2px;
}

/* QUOTE */

.quote {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quote-text {
    font-size: 36px;
    width: 750px;
    font-style: italic;
    text-align: left;
    flex-wrap: wrap;
}

.quote-author {
    padding-top: 5px;
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
    width: 750px;
}

/* CALL TO ACTION */

.call-to-action {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 800px;
    padding: 10px 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
}

.cta-text-head {
    font-size: 24px;
    font-weight: 600;
}

.cta-text-body {
    padding-top: 5px;
    flex-shrink: 0;
    justify-content: center;
    align-self: center;
}

.cta-button {
    width: 120px;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: medium;
    border-color: white;
    background-color:#3882F6;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 8px; 
}

/* FOOTER */

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}